streamlit
pyresparser==1.0.6
spacy==2.3.5
nltk==3.8.1
pandas
scikit-learn
plotly
pymysql
streamlit-tags
Pillow
pdfminer.six
docx2txt
numpy<2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
 
